apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: app
          image: us-central1-docker.pkg.dev/my-project-95-480908/backend-repo/python-app@sha256:0c7e536e4ca4cdaeec81b43d703c744b4387bef458f5b60bdb022eba71a6de94
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: python-app-config
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15

